export TAURI_PRIVATE_KEY="dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5UjBTVzByVUlTdzl6ZG0rZlVlOE9kVnp3QXNsQnVJU1NTbUQva0lmelBqUUFBQkFBQUFBQUFBQUFBQUlBQUFBQXd4VTI0Q3haWGpxN05zdUg0akRFRFo1aEQvTmMvVlRqRzJaQ2xrSjJ5ZUo2R2d0bmFHMTB1WnhWdlNHdk5sbDJycDQ0eDliNHhCWU5tYjRtVVVJckduS2o3VVhIeXVYalB2NGpSL3h6OFFCdjh1UVl1aVpVSGlMKzRXSmZLTWZqbmk4Z2NDbEI4bmM9Cg=="
export TAURI_KEY_PASSWORD="5800"
