@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    @apply border-r-4 border-blue-300 pr-4 bg-blue-50 italic;
}

blockquote p {
    @apply py-1;
}

pre {
  @apply font-mono !bg-zinc-950/60 rounded-md min-h-16 h-auto items-center;
}
/* 
.split-editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.split-editor:has(.milkdown-split-editor.hidden) {
  grid-template-columns: repeat(1, 1fr);
}

.milkdown-split-editor.hidden {
  display: none;
} */

.font-amiri {
  font-family: 'Amiri', serif;
}

.font-vazirmatn {
  font-family: 'vazirmatn', sans-serif;
}

.font-rubik {
  font-family: 'Rubik Variable', sans-serif;
}

.font-ibm-plex-sans-arabic {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply pb-3 border-b;
}